/*=== Configurações Gerais === */
@font-face {
    font-family: HeadingProTrial;
    src: url(../fonts/Heading-Pro-Book-trial.ttf);
}
@font-face {
    font-family: MADEProBook;
    src: url(../fonts/MADE-Type-Canvas.otf);
}

/*=== Cabecalho ===*/
#logo {
    max-width: 100px;
    margin-top: -7px;
}

.bg-light {
    background-color: #fff !important;
}

header.masthead {
    background: url(../img/fundo-sustentavel2.jpg) no-repeat center;
    background-size: cover;
    padding-top: 11rem;
    padding-bottom: 11rem;
}

header.masthead .overlay {
    background-color: #424242;
}

.masthead h1 {
    font-family: 'HeadingProTrial';
}

/*=== Propostas ===*/
.features-icons-icon img {
    margin-bottom: 1em;
}

/*=== Sobre Nos ===*/

#quem-somos h2 {
    margin-top: -6rem;
}

/*=== Calculo ===*/
.calculo {
    background: rgb(42, 136, 217);
}

.calculo-energia input {
    font-size: 2em;
}

#resultado-calculo {
    font-family: MADEProBook;
    font-size: 3em;
}

#resultado-calculo span {
    font-family: HeadingProTrial;
    font-size: 0.5em;
}

.calculo-energia img {
    width: 5em;
}

/*== Propaganda ==*/
.propaganda {
    background: rgb(20, 190, 192);
}

/*=== Parceiros ===*/
.nossos-parceiros img {
    max-width: 200rem;
}

/*== Mais informações ==*/
.mais-informacoes {
    background: rgb(4, 230, 173);
}
.mais-informacoes button {
    background-color: rgb(63,87,240);
    border-color: rgb(42,136,217);
}

.mais-informacoes button:hover{
    opacity: 0.8;
}


/*=== Configurações Gerais ===*/
/*== Fonts ==*/
h1, h2, h3, h4, h5, h6 {
    font-family: HeadingProTrial, Lato,'Helvetica Neue', Helvetica,Arial, sans-serif;
    margin-bottom: 0.8em;
}

/*== Cores ==*/
.black {
    color: rgb(66, 66, 66);
}

/*== Fundos ==*/



/*== Redes Sociais ==*/
.email {
    color: rgb(4, 230, 173);
}

.facebook {
    color: rgb(59, 89, 152);
}

.instagram {
    color: rgb(81, 127, 164);
}

.linkedin {
    color: rgb( 0, 123, 182);
}

.redes-sociais:hover {
    opacity: 0.7;
}